


/*-------------------------Register-------------------------------*/
body{
  background-color: rgb(59, 169, 241);
}

.container{
  /* border: 2px solid red; */
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
}

.button-37 {
  background-color: #57b133f5;
  border: 1px solid #57b133f5;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.Form_Register{
  padding: 1rem;
  display: 'flex';
  justify-content: center;
  flex-wrap: 'wrap';
  /* border: 2px solid rgb(132, 134, 21); */
}

.form__input{
  border: 1.5px solid rgb(212, 212, 212);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}

.Form{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(59, 13, 165); */
}

.Form p span {
  color: rgb(13, 143, 230);
}


.image_header{
  text-align: center;
  /* border: 2px solid rgb(59, 13, 165); */
}

.image_header h2{
  color: rgb(45, 151, 223);
}

.image_header h3{
  color: rgb(105, 105, 105);
}

.image_header img{
  width: 25%;
}

.form_text{
  text-align: center;
}
